* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.desing {
  background-color: lightgreen;
  box-shadow: 3px 5px 5px rgb(3, 32, 51, .8);
}

.desing h3 {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.desing p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.desing:hover{
    background-color: #008f6d;
    transform: translateY(-10px);
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  border: medium double darkgreen;
  margin: 5px;
}
.row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
    .row{
        display:block;
    }
  .column {
    width: 48%;

  }
}

@media screen and (max-width: 600px) {
    .row{
        display:block;
    }
  .column {
    width: 100%;
  }
}
